<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: seat) do |f| %>
      <%= f.label :timeslot %>
      <%= f.select :timeslot, options_for_select(Seat.timeslots.map {|key, value| [key.titleize, Seat.timeslots.key(value)]}, @seat.timeslot) %>

      <%= f.label :seat_number %>
      <%= f.select :seat_number, options_for_select(Seat.seat_numbers.map {|key, value| [key.titleize, Seat.seat_numbers.key(value)]}, @seat.seat_number) %>

      <%= f.hidden_field :cinema_id, :value => params[:cinema_id]%>

      <%= f.submit class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>