<h3>
  Movie Name: <%= @movie.name %>
</h3>
<h4>
  Cinema Name: <%= link_to @cinema.name, @cinema %>
</h4>

<%= button_to "Back to movies", movies_path, method: :get, :class => "btn btn-primary"%>
<br>
<% if logged_in? %>
  <%if is_admin? %>
    <%= button_to "View all bookings or book a seat", cinema_path, method: :get, :class => "btn btn-primary"%>
  <% else %>
    <%= button_to "Book now", cinema_path, method: :get, :class => "btn btn-primary"%>
  <% end %>
<% end %>
<br>

<% if @is_admin %>
  <%= button_to "Edit this movie", edit_movie_path(@movie), method: :get, :class => "btn btn-primary"%>
  <br>
  <%= button_to "Delete this movie", @movie, method: :delete, :class => "btn btn-primary"%>
<% end %>