<p>
  Name: <%= @movie.name %>
</p>
<p>
  Cinema Name: <%= @cinema.name %>
</p>

<%= button_to "Back to movies", movies_path, method: :get, :class => "btn btn-primary"%>

<% if @is_admin %>
  <%= button_to "Edit this movie", edit_movie_path(@movie), method: :get, :class => "btn btn-primary"%>
  <%= button_to "Destroy this movie", @movie, method: :delete, :class => "btn btn-primary"%>
<% end %>