<p>
  Full Name: <%= @user.full_name %>
</p>
<p>
  Role: <%= @user.role %>
</p>

<h2>Booked Seats</h2>
<% @seats.each do |seat| %>
  <p>
    Timeslot: <%= seat.timeslot %>
  </p>
  <p>
    Seat Number: <%= seat.seat_number %>
  </p>
  <p>
    Cinema Name: <%= link_to seat.cinema.name, seat.cinema %>
  </p>
   <p>
    Movie Name: <%= @movies[seat.cinema_id] %>
  </p>
  <br>
<%end%>

