<h1> Cinemas <h1>

<% if @is_admin %>
  <span>Cinema Count: <%= @cinema_count %></span>
  <br>
  <span><%= link_to "New cinema", new_cinema_path %></span>
<% end %>

<br>

<% @cinemas.each do |cinema| %>
  <div class="container">
    <br>
    <p>
      Name: <%= cinema.name %>
    </p>
    <% if @is_admin %>
      <p>
        Bookings: <%= @cinema_info[cinema.id] %>
      </p>
    <% end %>
    <p>
      <%= link_to "Cinema Details", cinema %>
    </p>
    <br>
  </div>
<% end %>