<p>
  Cinema Name: <%= @cinema.name %>
</p>

<% if @movies.any? %>
  <% @movies.each do |movie| %>
    <p>
      Movie Name: <%= movie.name %>
    </p>
    <p>
      Number of Bookings: <%= @seat_count %>
    </p>

    <% @time_slot.each do |key, value| %>
      <div class="btn-group" role="group">
        <% if value.length < 10 %>
          <%= button_to "#{@time_slot_values[:"#{key}"]}", timeslot_cinemas_path, :params => { :time_slot => "#{key}", :cinema_id => "#{@cinema.id}" }, method: :get, :class => "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  <%end%>
<% end %>

<h2> All bookings </h2>

<% if @is_admin %>
  <% if @seat_count > 0 %>
    <br>
    <div>
      <table class ="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Time Slot</th>
            <th scope="col">Seat Number</th>
          </tr>
        </thead>
        <tbody>
          <% @cinema_seats.each do |seat| %>
            <tr>
              <th scope="row"><%= seat.id %></th>
              <td><%= link_to seat.user.full_name, seat.user %></td>
              <td><%= "#{@time_slot_values[:"#{seat.timeslot}"]}" %></td>
              <td><%= "#{@seat_number_values[:"#{seat.seat_number}"]}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  <%end%>

  <br>
<% end %>

<% if @is_admin %>
  <%= button_to "Edit this cinema", edit_cinema_path(@cinema), method: :get, :class => "btn btn-primary"%>
  <br>
  <%= button_to "Delete this cinema", @cinema, method: :delete, :class => "btn btn-primary"%>
  <br>
<% end %>
  <%= button_to "Back to cinemas", cinemas_path, method: :get, :class => "btn btn-primary"%>
